html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Дополнительные стили */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar .nav-link {
    color: #343a40;
    transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
    color: #007bff;
}

.custom-navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Карточка профиля */
.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}
.paid {
    background-color: #28a745;
}

.unpaid {
    background-color: #ffc107;
}
.text-break {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}