{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">О нас</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="static/2.jpg" class="img-fluid rounded" alt="О нас">
        </div>
        <div class="col-md-6">
            <h3>Наша история</h3>
            <p>Мы - команда кинолюбителей, которые создали Kinobron с целью сделать просмотр фильмов более доступным и удобным для всех.</p>
            <h3>Наши ценности</h3>
            <ul>
                <li>Страсть к киноискусству и качественному кино</li>
                <li>Профессионализм и внимание к деталям</li>
                <li>Постоянное стремление к улучшению сервиса для наших пользователей</li>
            </ul>
            <h3>Свяжитесь с нами</h3>
            <p>Если у вас есть вопросы, предложения или пожелания, не стесняйтесь обращаться к нам:</p>
            <p>Email: info@kinobron.com</p>
            <p>Телефон: +1234567890</p>
        </div>
    </div>
</div>
{% endblock %}
